@colorPrimary: #4170ff;
@colorErrorHeavy: #D94243;
@colorPrimaryHeavy: #375FD9;
@colorTextDisabled: #c5cee0;
@colorTextSecondary: #c5cee0;
@colorText: #c5cee0;
@colorError: #ff4d4f;
@colorSuccess: #00c48c;
@colorWarning: #ffc245;
@colorErrorActive: @colorErrorHeavy;
@colorPrimaryActive: @colorPrimaryHeavy;
