[submodule "EPON-NetworkAgent"]
	path = EPON-NetworkAgent
	url = https://github.com/tkhfree/EPON-NetworkAgent.git
[submodule "co/example1/lynette-dev"]
	path = co/example1/lynette-dev
	url = https://github.com/tkhfree/lynette-dev.git
