.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding-bottom: 16px;
  background: #28292c;
}

.topology {
  width: 46px;
  height: 46px;
  background: url('../../../assets/svg/side-bar/topology.svg?url') no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
}

.agent {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 46px;
  color: #d0d6df;
  font-size: 20px;
  cursor: pointer;
}

.controlPlane {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 46px;
  color: #d0d6df;
  font-size: 20px;
  cursor: pointer;
}

.terminal {
  width: 46px;
  height: 46px;
  background: url('../../../assets/svg/side-bar/terminal.svg?url') no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
}

.log {
  width: 46px;
  height: 46px;
  background: url('../../../assets/svg/side-bar/log.svg?url') no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
}

.avatar {
  width: 46px;
  height: 46px;
  background: url('../../../assets/svg/side-bar/avatar.svg?url') no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
}

.setting {
  width: 46px;
  height: 46px;
  background: url('../../../assets/svg/side-bar/setting.svg?url') no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
}

.topology,
.controlPlane,
.agent,
.terminal,
.log,
.avatar,
.setting {
  transition: background-color 0.2s ease;

  &:hover {
    background-color: rgb(255 255 255 / 8%);
  }
}

.active {
  background-color: rgb(255 255 255 / 8%);
  box-shadow: inset 2px 0 0 #1677ff;
}
