{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-property-sort-order-smacss"
  ],
  "plugins": [
    "stylelint-order"
  ],
  "rules": {
    "selector-pseudo-class-no-unknown": null,
    "selector-pseudo-element-no-unknown": null,
    "declaration-property-value-no-unknown": null,
    "no-descending-specificity": null,
    "font-family-no-missing-generic-family-keyword": null
  },
  "overrides": [
    {
      "files": [
        "**/*.less"
      ],
      "customSyntax": "postcss-less"
    }
  ]
}